:root {
    --bg: #000000;
    --fg: #aaaaaa;

    --purple-dark: #6c5671;
    --purple-light: #b0a9e4;
    --pink: #feaae4;
    --red: #f98284;
    --cyan: #accce4;
    --cyan-light: #b3e3da;
}

* {
  font-family: "Departure Mono Nerd Font";
  background: transparent;
  color: var(--fg);
}

#window {
  color: #aaaaaa;
  border: 1px solid #ffffff;

  /*Linear gradient background instead of standard background, because it makes cleaner border-radius cuts, issa bug :p*/
  background-image: linear-gradient(to bottom, #000000 100%);
}

#scroll {
  border-width: 1px;
  border-color: #55ffff;
}

#inner-box {
  padding-top: 12px;
}

#entry {
  border-style: none;
  border-color: #55ffff;
  color: #eee6d3;
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12;

  border-radius: 12px;
}

#entry:selected {
  color: #ffffff;
  font-weight: bold;
  outline: none;
}

#input {
  background-color: #000000;
  color: #00aaaa;
  border: 1px solid white;
  border-radius: 0px;
}

#input:focus {
  background: #000000;
}

#img {
  padding: 4px;
  margin-right: 6px;
}
