* {
	font-family: "Departure Mono Nerd Font";
	font-size: 11px;
	padding: 0px;
}

#waybar {
	background-color: rgba(17, 21, 30, 0.5);
    padding: 0px;
}

#clock,
#tray,
#workspaces,
#pulseaudio,
#custom-name,
#custom-caway {
    margin: 6px 6px 6px 0px;
	padding: 1px 8px;
	color: #c3c4c6;
	transition-duration: 120ms;
    background: transparent;
}

#custom-caway {
    color: #688c76;
}

#clock {
	margin-right: 6px;
    background: rgba(187, 113, 146, 0.75);
    color: #11151e;
}

#pulseaudio {
	margin-right: 6px;
    background: rgba(187, 113, 146, 0.75);
    color: #11151e;
}

#workspaces button {
	transition-duration: 100ms;
	all: initial;
	min-width: 0;
	font-weight: bold;
	color: #bb7192;
    padding-left: 0.2cm;
    padding-right: 0.2cm;
}

#workspaces button:hover {
	transition-duration: 120ms;
	color: #658c76;
}

#workspaces button.focused {
    background: rgba(187, 113, 146, 0.75);
	color: #11151e;
}
